lidatube.admin.${TS_DOMAIN} {
    basic_auth {
        ${CADDY_USER} ${CADDY_PASSWORD_HASH}
    }

    reverse_proxy lidatube:8080
}

unmanic.admin.${TS_DOMAIN} {
    basic_auth {
        ${CADDY_USER} ${CADDY_PASSWORD_HASH}
    }

    reverse_proxy unmanic:8888
}
