{
    auto_https off
}

# ---- HTTP → HTTPS redirect ----
http://*.{$OLDDOMAIN} {
    redir https://{host}{uri} permanent
}

# ---- Common TLS snippet ----
(tls_manual) {
    tls /certs/{args[0]}/certs/{args[0]}.{$OLDDOMAIN}.crt \
        /certs/{args[0]}/certs/{args[0]}.{$OLDDOMAIN}.key
}

# ---- Common proxy snippet ----
(proxy) {
    reverse_proxy {args[0]}
}

# ---- Services ----

https://adguard.{$OLDDOMAIN} {
    import tls_manual adguard
    import proxy adguard:80
}

https://bazarr.{$OLDDOMAIN} {
    import tls_manual bazarr
    import proxy bazarr:6767
}

https://dash.{$OLDDOMAIN} {
    import tls_manual dash
    import proxy dash:3001
}

https://immich.{$OLDDOMAIN} {
    import tls_manual immich
    import proxy immich:2283
}

https://jellyfin.{$OLDDOMAIN} {
    import tls_manual jellyfin
    import proxy 172.17.0.1:8096
}

https://jellystat.{$OLDDOMAIN} {
    import tls_manual jellystat
    import proxy jellystat:3000
}

https://lidarr.{$OLDDOMAIN} {
    import tls_manual lidarr
    import proxy lidarr:8686
}

https://lidatube.{$OLDDOMAIN} {
    import tls_manual lidatube
    import proxy lidatube:5000
}

https://metube.{$OLDDOMAIN} {
    import tls_manual metube
    import proxy metube:8081
}

https://portainer.{$OLDDOMAIN} {
    import tls_manual portainer
    import proxy portainer:9000
}

https://prowlarr.{$OLDDOMAIN} {
    import tls_manual prowlarr
    import proxy prowlarr:9696
}

https://qbittorrent.{$OLDDOMAIN} {
    import tls_manual qbittorrent
    import proxy qbittorrent:8090
}

https://radarr.{$OLDDOMAIN} {
    import tls_manual radarr
    import proxy radarr:7878
}

https://seerr.{$OLDDOMAIN} {
    import tls_manual seerr
    import proxy seerr:5055
}

https://sonarr.{$OLDDOMAIN} {
    import tls_manual sonarr
    import proxy sonarr:8989
}

https://stirling.{$OLDDOMAIN} {
    import tls_manual stirling
    import proxy stirling:8080
}

https://tdarr.{$OLDDOMAIN} {
    import tls_manual tdarr
    import proxy tdarr:8265
}

https://unmanic.{$OLDDOMAIN} {
    import tls_manual unmanic
    import proxy unmanic:8888
}
https://wizarr.{$OLDDOMAIN} {
    import tls_manual wizarr
    import proxy wizarr:5690
}
